@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*
    @세팅구역
    
*/
li { list-style: none; }

img { vertical-align: top; }

body { min-width: 320px; font-size: 14px; color: inherit; scroll-behavior: smooth; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

input, textarea, select, table, button, code { font: inherit; font-size: 16px; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.hidden, [hidden] { display: none !important; }

a { color: inherit; cursor: pointer; text-decoration: none; }

a:hover, a:focus { text-decoration: none; }

button { border: 0; background-color: transparent; cursor: pointer; }

button:disabled { cursor: not-allowed; }

select, input, textarea, button { -webkit-appearance: none; }

input[type="number"] { -moz-appearance: textfield; }

input:disabled { background-color: rgba(255, 255, 255, 0); cursor: not-allowed; }

select { border: 0; background-color: transparent; cursor: pointer; }

select::-ms-expand { display: none; }

input, textarea { font-size: inherit; border: 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::placeholder, textarea::placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE, Edge */ color: #444; opacity: 1; }

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::placeholder, input:disabled::placeholder, textarea[readonly]::placeholder, textarea:disabled::placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE, Edge */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input::-ms-clear, input::-ms-reveal, textarea::-ms-clear, textarea::-ms-reveal { /* IE, Edge */ display: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button { -webkit-appearance: none; }

@font-face { font-family: 'SDNeoM'; src: url(../fonts/SDGtNeobUni-bLt6.woff2) format("woff2"); font-weight: 400; }

@font-face { font-family: 'SDNeoL'; src: url(../fonts/SDGtNeobUni-bLt8.woff2) format("woff2"); font-weight: 500; }

@font-face { font-family: 'notoR'; src: url(../fonts/NotoSansKR-Regular.subset.woff2) format("woff2"); }

@font-face { font-family: 'roboR'; src: url(../fonts/Roboto-Regular.woff2) format("woff2"); }

@font-face { font-family: 'roboM'; src: url(../fonts/Roboto-Medium.woff2) format("woff2"); }

body { font-family: 'SDNeoL', 'roboR', 'roboM', Pretendard, 'notoR', 'Malgun Gothic', '맑은 고딕', '돋움', serif; color: #777; font-size: 16px; letter-spacing: -.06em; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

.inner { min-width: 1024px; max-width: 1280px; margin: 0 auto; }

.sc-benefit .bft-item.sale::before, .sc-benefit .bft-item.coupon::before, .sc-benefit .bft-item.plus::before, .sc-benefit .bft-item.birthday::before, .sc-benefit .bft-item.vip::before, .sc-benefit .bft-item.shop::before { background: url(../images/icon/sp-bg01.png); background-size: 516px auto; background-repeat: no-repeat; }

.footer-area .sns-box .sns.youtube::after, .footer-area .sns-box .sns.insta::after, .footer-area .sns-box .sns.facebook::after, .footer-area .sns-box .sns.twitter::after, .footer-area .sns-box .sns.app::after { background: url(../images/icon/sp-bg02.png); background-size: 135px auto; background-repeat: no-repeat; }

.link-more { position: absolute; top: 97px; right: 0; padding: 0 30px 5px 0; background: url(../images/icon/link-more.png) no-repeat 100% 100%; color: #333; }

.sc-best .link-more { top: 60px; }

.sc-benefit .link-more { top: 5px; }

.sc-new .link-more { top: 78px; }

.slide-control .slide-navi { position: absolute; top: 50%; }

.slide-control .slide-navi.swiper-button-next { background: url(../images/icon/btn-next.png) no-repeat; width: 48px; height: 48px; background-size: 100%; right: 0; }

.sc-visual .slide-control .slide-navi.swiper-button-next { right: 210px; width: 40px; height: 40px; }

.sc-event .slide-control .slide-navi.swiper-button-next { right: -70px; top: 52%; }

.sc-best .slide-control .slide-navi.swiper-button-next { top: 40%; right: -80px; opacity: .6; }

.sc-new .slide-control .slide-navi.swiper-button-next { top: 57%; right: -80px; }

.sc-review .slide-control .slide-navi.swiper-button-next { top: 57%; right: -80px; }

.slide-control .slide-navi.swiper-button-next::after { content: ''; }

.slide-control .slide-navi.swiper-button-prev { background: url(../images/icon/btn-prev.png) no-repeat; width: 48px; height: 48px; background-size: 100%; left: 0; }

.sc-visual .slide-control .slide-navi.swiper-button-prev { left: 210px; width: 40px; height: 40px; }

.sc-event .slide-control .slide-navi.swiper-button-prev { top: 52%; left: -70px; }

.sc-best .slide-control .slide-navi.swiper-button-prev { top: 40%; left: -80px; opacity: .6; }

.sc-new .slide-control .slide-navi.swiper-button-prev { top: 57%; left: -80px; }

.sc-review .slide-control .slide-navi.swiper-button-prev { top: 57%; left: -80px; }

.slide-control .slide-navi.swiper-button-prev::after { content: ''; }

.sc-title { font-size: 32px; color: #222; font-weight: 500; letter-spacing: normal; }

.sc-event .sc-title { padding-top: 90px; max-width: 1280px; margin: 0 auto; }

.sc-new .sc-title { padding-top: 71px; }

.sc-review .sc-title { padding-top: 71px; }

.sc-benefit .sc-title { margin: 96px 0 9px; }

.prd-list.col .prd-item .img-box::before { content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 314px; height: 314px; border-radius: 5px; overflow: hidden; background-color: #fafafa; mix-blend-mode: multiply; z-index: 1; }

.prd-list.col .prd-item a { display: block; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.prd-list.col .prd-item .info-box { height: 206px; padding: 20px 24px 0 24px; }

.prd-list.col .prd-item .info-box .name { margin: 0 0 3px; overflow: hidden; white-space: normal; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #333; }

.prd-list.col .prd-item .info-box .price { font-size: 26px; font-family: 'roboM'; vertical-align: 0px; line-height: 1.6; color: #222; font-weight: 600; }

.prd-list.col .prd-item .info-box s { font-size: 19px; margin: 0 3px 0 4px; text-decoration: line-through; font-weight: normal; color: #999; }

.prd-list.col .prd-item .info-box .sale { font-size: 26px; color: #d62136; }

.prd-list.col .prd-item .info-box .review { display: inline-block; font-size: 14px; color: #777; padding: 5px 0; }

.prd-list.col .prd-item .info-box .review::before { content: ''; display: inline-block; background: url(../images/content/event-review.png); width: 16px; height: 16px; background-size: 100%; vertical-align: bottom; margin-right: 3px; }

.prd-list.row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.prd-list.row .prd-item a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.prd-list.row .prd-item .badge { position: absolute; left: 0; top: 0; display: block; font-size: 20px; width: 44px; height: 44px; margin: 0 0 4px; line-height: 44px; border-radius: 5px 1px 5px 1px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #ccc; color: #fff; font-family: 'roboM'; text-align: center; letter-spacing: 0; }

.prd-list.row .prd-item .green { background-color: #118168; }

.prd-list.row .prd-item .info-box { height: 206px; padding: 20px 24px 0 24px; }

.prd-list.row .prd-item .info-box .name { margin: 0 0 3px; overflow: hidden; white-space: normal; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #333; }

.prd-list.row .prd-item .info-box .price { font-size: 26px; font-family: 'roboM'; vertical-align: 0px; line-height: 1.6; color: #222; font-weight: 600; }

.prd-list.row .prd-item .info-box s { font-size: 19px; margin: 0 3px 0 4px; text-decoration: line-through; font-weight: normal; color: #999; }

.prd-list.row .prd-item .info-box .sale { font-size: 26px; color: #d62136; }

.prd-list.row .prd-item .info-box .review { display: inline-block; font-size: 14px; color: #777; padding: 5px 0; }

.prd-list.row .prd-item .info-box .review::before { content: ''; display: inline-block; background: url(../images/content/event-review.png); width: 16px; height: 16px; background-size: 100%; vertical-align: bottom; margin-right: 3px; }

.prd-list.new .prd-item { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.prd-list.new .prd-item .badge { position: absolute; right: 20px; bottom: 175px; background: #118168; min-width: 49px; height: 24px; line-height: 25px; padding: 0 8px; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 16px; color: #fff; text-align: center; letter-spacing: 0; z-index: 10; }

.prd-list.new .prd-item .info-box { display: block; height: 154px; padding: 20px 24px 0 24px; }

.prd-list.new .prd-item .info-box .name { font-size: 20px; font-weight: 600; margin: 0 0 7px; display: block; color: #333; line-height: 1.2; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.prd-list.new .prd-item .info-box .desc { font-size: 16px; color: #999; margin: 0 0 3px; display: flexbox; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.top-banner { background: #000; width: 100%; height: 45px; -webkit-transition: .5s; transition: .5s; display: block; }

.top-banner.close { display: none; }

.top-banner .inner { position: relative; }

.top-banner a { display: block; color: #fff; text-align: center; padding: 13px 0; }

.top-banner .btn-close { background: url(../images/icon/btn-close.png) no-repeat; background-size: 26px 27px; width: 26px; height: 27px; position: absolute; right: 0; top: 8px; }

.header-area { position: relative; -ms-flex-negative: 0; flex-shrink: 0; }

.header-area .util-area { background-color: #f3f1f2; }

.header-area .util-area .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.header-area .util-area .util-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; letter-spacing: -.1px; font-size: 14px; position: relative; }

.header-area .util-area .util-list + .util-list { margin-left: 30px; }

.header-area .util-area .util-list + .util-list::before { content: ''; position: absolute; top: 16px; left: -25px; width: 1px; height: 13px; background: #969495; margin: 0 10px; }

.header-area .util-area .util-list .util-item + .util-item { margin-left: 21px; }

.header-area .util-area .util-list .util-item.mycart { position: relative; margin-right: 21px; }

.header-area .util-area .util-list .util-item.mycart .number { position: absolute; top: 11px; left: 46px; display: inline-block; margin-left: 5px; width: 18px; height: 18px; line-height: 19px; border-radius: 50%; background: #167a68; color: #fff; text-align: center; }

.header-area .util-area .util-list a { display: block; height: 46px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header-area .util-area .util-list a:hover { color: #167a68; }

.header-area .logo-area { padding-top: 23px; }

.header-area .logo-area .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; height: 73px; }

.header-area .logo-area .logo { background: url(../images/logo/logo.png) no-repeat; width: 181px; height: 34px; background-size: 181px 34px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.header-area .logo-area .logo a { display: block; height: 100%; }

.header-area .logo-area .search-area { position: absolute; left: 222px; width: 400px; height: 34px; }

.header-area .logo-area .search-area fieldset { position: relative; height: 34px; padding-right: 50px; border: 2px solid #d9d9d9; border-radius: 21px; overflow: hidden; }

.header-area .logo-area .search-area fieldset .input-text { width: 100%; height: 34px; padding-left: 17px; font-size: 14px; outline: 0; }

.header-area .logo-area .search-area fieldset .input-text::-webkit-input-placeholder { display: block; padding: 0px 0 0 15px; color: #d5d4d4; line-height: 35px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.header-area .logo-area .search-area fieldset .input-text:-ms-input-placeholder { display: block; padding: 0px 0 0 15px; color: #d5d4d4; line-height: 35px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.header-area .logo-area .search-area fieldset .input-text::-ms-input-placeholder { display: block; padding: 0px 0 0 15px; color: #d5d4d4; line-height: 35px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.header-area .logo-area .search-area fieldset .input-text::placeholder { display: block; padding: 0px 0 0 15px; color: #d5d4d4; line-height: 35px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.header-area .logo-area .search-area fieldset .btn-search { background: url(../images/icon/btn-search.png); background-size: 30px 30px; width: 30px; height: 30px; position: absolute; top: 1px; right: 10px; z-index: 10; }

.header-area .logo-area .gnb-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.header-area .logo-area .gnb-area .gnb-list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header-area .logo-area .gnb-area .gnb-list li + li { margin-left: 20px; }

.header-area .logo-area .gnb-area .gnb-list li a { display: inline-block; color: #222; font-weight: 600; font-size: 18px; letter-spacing: 1.3px; vertical-align: middle; }

.category-area { border-bottom: 1px solid #a6a6a6; -webkit-box-sizing: border-box; box-sizing: border-box; }

.category-area a { color: #222; font-size: 16px; font-weight: 500; }

.category-area a:hover { color: #167a68; }

.category-area .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; letter-spacing: normal; position: relative; }

.category-area .category-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.category-area .category-item { height: 55px; line-height: 55px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.category-area .category-item + .category-item { padding-left: 15px; }

.category-area .category-item > a { display: block; }

.category-area .category-item.hover > a { position: relative; display: block; }

.category-area .category-item.hover > a::after { content: ''; display: inline-block; background: url(../images/icon/fixed-header-arr.png); background-size: 100%; width: 10px; height: 9px; position: absolute; bottom: -1px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.sub-menu-wrap { z-index: 10; position: absolute; top: 56px; left: 0; width: 1280px; height: 240px; background: #fff; border: 1px solid #b6b6b6; border-top: 0; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 31px 41px 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; transition: opacity .5s; -webkit-transition: opacity .5s; display: none; }

.hover .sub-menu-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sub-menu-wrap a:hover { font-weight: bold; }

.sub-menu-wrap .sub-list { display: -webkit-box; display: -ms-flexbox; display: flex; width: 50%; }

.sub-menu-wrap .sub-list .sub-item { display: block; width: 140px; -ms-flex-negative: 0; flex-shrink: 0; }

.sub-menu-wrap .sub-list .sub-item a { display: block; font-size: 14px; color: #888; margin: -20px 0; -ms-flex-negative: 0; flex-shrink: 0; }

.sub-menu-wrap .prd-view { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 50%; }

.sub-menu-wrap .prd-view .view-item + .view-item { margin-left: 10px; }

.sub-menu-wrap .prd-view .view-item img { width: 142px; height: 142px; border: 1px solid #e7e7e7; }

.sub-menu-wrap .prd-view .view-item p { color: #777; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; letter-spacing: -.1em; }

.category-area .aside-list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.category-area .aside-list .aside-item { height: 55px; line-height: 55px; }

.category-area .aside-list .aside-item + .aside-item { margin-left: 20px; position: relative; }

.category-area .aside-list .aside-item + .aside-item::before { content: '/'; position: absolute; top: 0; right: 48px; font-size: 14px; }

.category-area .aside-list .aside-item a { display: block; }

.fixed-header { position: fixed; left: 0; top: 0; width: 100%; color: #fff; background-color: rgba(2, 65, 55, 0.85); z-index: 100; -webkit-transition: top 0.5s ease; transition: top 0.5s ease; display: none; }

.fixed-header.show { display: block; }

.fixed-header .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 74px; position: relative; }

.fixed-header .left-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.fixed-header .left-area .btn-menu { position: relative; width: 25px; height: 19px; -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }

.fixed-header .left-area .btn-menu .line { display: block; position: absolute; left: 0; top: 4px; height: 1px; width: 100%; background: #fff; border-radius: 5px; opacity: 1; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; }

.fixed-header .left-area .btn-menu .line.item02 { top: 13px; }

.fixed-header .left-area .btn-menu .line.item03 { top: 22px; }

.fixed-header .left-area .btn-menu.close { -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; width: 25px; height: 19px; }

.fixed-header .left-area .btn-menu.close .line { top: 13px; width: 100%; background: #fff; opacity: 1; -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; }

.fixed-header .left-area .btn-menu.close .line.item01 { display: none; }

.fixed-header .left-area .btn-menu.close .line.item02 { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.fixed-header .left-area .btn-menu.close .line.item03 { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.fixed-header .left-area .logo { margin-left: 38px; background: url(../images/logo/fixed-header-logo.png) no-repeat; width: 121px; height: 23px; background-position: center; background-size: 100%; }

.fixed-header .left-area .logo a { display: block; height: 100%; }

.fixed-header .right-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.fixed-header .search-box fieldset { position: relative; width: 370px; padding-right: 40px; border-bottom: 2px solid #d9d9d9; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }

.fixed-header .search-box fieldset .input-text { outline: 0; background-color: transparent; height: 34px; width: 100%; padding-left: 2px; color: #fff; }

.fixed-header .search-box fieldset .input-text::-webkit-input-placeholder { display: block; padding-left: 2px; color: #fff; line-height: 35px; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.fixed-header .search-box fieldset .input-text:-ms-input-placeholder { display: block; padding-left: 2px; color: #fff; line-height: 35px; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.fixed-header .search-box fieldset .input-text::-ms-input-placeholder { display: block; padding-left: 2px; color: #fff; line-height: 35px; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.fixed-header .search-box fieldset .input-text::placeholder { display: block; padding-left: 2px; color: #fff; line-height: 35px; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.fixed-header .search-box fieldset .btn-search { position: absolute; top: 7px; right: 0px; width: 20px; height: 21px; background: url(../images/icon/fixed-header-btn-search.png) no-repeat; background-size: 100%; }

.fixed-header .util-box { margin-left: 48px; font-size: 14px; }

.fixed-header .util-box a { margin-right: 21px; display: inline-block; position: relative; }

.fixed-header .util-box a .number { position: absolute; top: -6px; left: 46px; display: inline-block; margin-left: 5px; width: 18px; height: 18px; line-height: 18px; border-radius: 50%; background: #167a68; color: #fff; text-align: center; }

.sub-gnb-wrap { position: absolute; top: 78px; left: 0; width: 388px; height: 337px; background: #fff; border: 1px solid #dcdcdc; border-top: 0; padding: 24px 30px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; display: none; }

.sub-gnb-wrap.show { display: block; }

.sub-gnb-wrap .subMenu-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; color: #000; }

.sub-gnb-wrap .subMenu-list .subMenu-item { font-size: 16px; font-weight: 400; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: calc(100% / 3); }

.sub-gnb-wrap .subMenu-list .subMenu-item a { display: block; margin-bottom: 20px; }

.sub-gnb-wrap .subMenu-list .subMenu-item a:hover { font-weight: bold; }

.sub-gnb-wrap .subMenu-list .subMenu-item.green { color: #167a68; }

.sub-gnb-wrap .aside-menu { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #f7f7f7; position: absolute; bottom: 0; left: 0; width: 100%; height: 46px; color: #222; }

.sub-gnb-wrap .aside-menu li { width: calc(100% / 4); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.sub-gnb-wrap .aside-menu::after { content: ''; display: inline-block; background: url(../images/icon/fixed-header-arr.png) no-repeat; background-size: 100%; width: 10px; height: 9px; position: absolute; top: -299px; left: 7px; }

.fixed-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: fixed; top: 30%; right: 0; z-index: 100; -webkit-transition: .3s; transition: .3s; }

.fixed-bar .recentPrd-bar { border: 1px solid #dcdcdc; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100px; background: #fff; color: #777; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.fixed-bar .recentPrd-bar p { margin: 10px 0 15px; font-size: 15px; color: #333; }

.fixed-bar .recentPrd-bar span { padding: 20px 0 0; font-size: 13px; line-height: 20px; height: 94px; }

.fixed-bar .talk { background: url(../images/icon/fixbar-talk.png) no-repeat; background-size: 100%; background-position: center; width: 80px; height: 80px; margin: 15px 0 15px 10px; }

.fixed-bar .btn-top { border: 1px solid #dcdcdc; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; width: 100px; height: 35px; }

.fixed-bar .btn-top::after { content: ''; display: inline-block; background: url(../images/icon/fixbar-top.png) no-repeat; background-size: 100%; width: 25px; height: 14px; }

.footer-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-bottom: 80px; }

.top-area { border-bottom: 1px solid #dbdbdb; border-top: 1px solid #dbdbdb; -webkit-box-sizing: border-box; box-sizing: border-box; }

.top-area .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.top-area .service-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 64px; font-size: 16px; color: #000; width: 50%; }

.top-area .service-box a { -ms-flex-negative: 0; flex-shrink: 0; }

.top-area .service-box a + a { margin-left: 16px; }

.top-area .service-box a strong { font-weight: bold; }

.top-area .sns-box { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.top-area .sns-box .sns { opacity: 0.8; }

.top-area .sns-box .sns + .sns { margin-left: 20px; }

.top-area .sns-box .sns.youtube::after { content: ''; display: inline-block; background-position: -58px -10px; width: 32px; height: 22px; }

.top-area .sns-box .sns.insta::after { content: ''; display: inline-block; background-position: -10px -10px; width: 28px; height: 28px; }

.top-area .sns-box .sns.facebook::after { content: ''; display: inline-block; background-position: -110px -10px; width: 15px; height: 28px; }

.top-area .sns-box .sns.twitter::after { content: ''; display: inline-block; background-position: -58px -52px; width: 28px; height: 24px; }

.top-area .sns-box .sns.app::after { content: ''; display: inline-block; background-position: -10px -58px; width: 24px; height: 31px; }

.bottom-area { padding: 29px 0; }

.bottom-area .inner { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.bottom-area .logo { background: url(../images/logo/footer-logo.png) no-repeat; background-size: 100%; width: 131px; height: 25px; display: block; position: absolute; top: 0; left: 0; }

.bottom-area .info-box { padding-top: 54px; line-height: 24px; font-size: 14px; }

.bottom-area .info-box span { display: block; }

.bottom-area .info-box .space { margin-left: 13px; display: inline-block; }

.bottom-area .info-box .bar { position: relative; margin: 0 8px; }

.bottom-area .info-box .bar::after { content: ''; display: inline-block; width: 1px; height: 13px; background: #ccc; position: absolute; top: 1px; }

.bottom-area .info-box .join-box { margin: 9px 0 10px; }

.bottom-area .info-box .join-box strong { font-weight: bold; color: #222; margin: 3px 0; line-height: 1.3; }

.bottom-area .info-box .join-box a { color: #222; font-weight: 500; -webkit-text-decoration-line: underline; text-decoration-line: underline; }

.bottom-area .customer-box { width: 380px; height: 212px; padding: 31px 31px; background: #f3f3f3; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 29px; }

.bottom-area .customer-box h3 { color: #555; }

.bottom-area .customer-box p { line-height: 22px; }

.bottom-area .customer-box span { font-size: 14px; display: block; line-height: 20px; }

.bottom-area .customer-box .tel { font: 30px/1.6 'roboM'; color: #555; margin-right: 5px; font-weight: 600; }

.bottom-area .customer-box .talk { margin-top: 15px; border: 1px solid #222; color: #222; -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 18px; width: 110px; height: 32px; }

.bottom-area .customer-box .talk span { position: relative; font-size: 15px; }

.bottom-area .customer-box .talk span::after { content: ''; display: inline-block; position: absolute; top: 5px; right: -10px; background: url(../images/icon/footer-arr.png) no-repeat; width: 5px; height: 9px; background-size: 100%; }

.container { overflow: hidden; }

.sc-visual { width: 1920px; margin: 0 auto; -o-object-fit: cover; object-fit: cover; position: relative; }

.sc-visual .swiper { margin: 0 auto; }

.sc-visual .swiper-slide { margin: 0 auto; }

.sc-visual .swiper-slide img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-visual .swiper-slide a { display: block; }

.sc-visual .text-wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.sc-visual .text-wrap .text-box { width: 1280px; height: 100%; padding-top: 213px; margin: 0 auto; }

.sc-visual .text-wrap .text-box .card-item { display: inline-block; color: #fff; text-align: center; min-width: 49px; height: 24px; line-height: 25px; margin-right: 1px; padding: 0 8px; background: #222; border-radius: 5px; font-size: 16px; }

.sc-visual .text-wrap .text-box .card-item.red { background: #d62136; }

.sc-visual .text-wrap .event-text { padding-top: 15px; font-size: 40px; color: #222; line-height: 46px; letter-spacing: normal; }

.sc-visual .text-wrap .event-text .bold { font-weight: 600; display: block; }

.sc-keyword { border-bottom: 1px solid #ddd; }

.sc-keyword .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-keyword .title-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 32px 0; width: 228px; border-right: 1px solid #ddd; }

.sc-keyword .title-area .title { font-size: 20px; color: #222; font-weight: 600; line-height: 26px; padding-top: 2px; }

.sc-keyword .title-area .date { font-size: 13px; color: #999; }

.sc-keyword .keyword-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 32px 0; padding-left: 40px; }

.sc-keyword .keyword-list .keyword-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 5px; padding: 0px 16px 0px 16px; height: 32px; margin-right: 4px; background-color: #fff; border: 1px solid #ccc; border-radius: 16px; text-align: center; font-weight: 600; -ms-flex-negative: 0; flex-shrink: 0; }

.sc-keyword .keyword-list .keyword-item:hover { border: 1px solid #3eac93; background-color: #f7fffd; color: #118168; }

.sc-event .inner { position: relative; }

.sc-event .swiper { height: 1104px; width: 1280px; margin-top: 32px; }

.sc-event .swiper .swiper-wrapper { width: 1280px; }

.sc-event .swiper .swiper-wrapper .swiper-slide { width: 100%; height: 50%; margin-top: 0 !important; }

.sc-event .swiper .swiper-wrapper .img-box { overflow: hidden; position: relative; }

.sc-event .swiper .swiper-wrapper .img-box .front { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); -webkit-transition: .3s; transition: .3s; }

.sc-event .swiper .swiper-wrapper .img-box .back { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0; -webkit-transition: .3s; transition: .3s; }

.sc-event .swiper .swiper-wrapper .img-box:hover .front { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }

.sc-event .swiper .swiper-wrapper .img-box:hover .back { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }

.login-area { margin: 100px 0 0; padding: 35px 0; background: #f3f3f3; color: #222; font-size: 20px; text-align: center; }

.login-area .desc { margin: 0 0 15px; }

.login-area .login-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.login-area .login-box .link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #222; border-radius: 46px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 138px; height: 46px; line-height: 44px; color: #333; font-size: 18px; text-align: center; }

.login-area .login-box .link.login { margin-left: 15px; color: #fff; background: #000; }

.sc-best { background-color: #fafafa; height: 790px; padding-top: 71px; margin: 40px auto 0 auto; }

.sc-best .inner { position: relative; }

.sc-best .best-lanking-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 13px 0 40px; border-radius: 25px; background-color: #f4f4f4; overflow: hidden; width: 308px; }

.sc-best .best-lanking-box .btn-lanking { display: block; width: 154px; height: 48px; line-height: 48px; color: #999; font-size: 16px; text-align: center; }

.sc-best .best-lanking-box .btn-lanking.active { color: #118168; background: #fff; border: 2px solid #118168; border-radius: 24px; line-height: 45px; }

.sc-best .swiper { overflow: visible; }

.sc-best .swiper .swiper-slide { opacity: 0.4; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }

.sc-best .swiper .swiper-slide-active { opacity: 1; }

.sc-best .swiper .swiper-slide-next { opacity: 1; }

.sc-best .swiper .swiper-slide-active + .swiper-slide + .swiper-slide { opacity: 1; }

.sc-best .swiper .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide { opacity: 1; }

.sc-best .swiper img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-new .inner { position: relative; }

.sc-new .swiper { margin-top: 30px; width: 1280px; -o-object-fit: cover; object-fit: cover; height: 1100px; }

.sc-new .swiper .swiper-wrapper { width: 100%; height: 100%; }

.sc-new .swiper .swiper-wrapper .swiper-slide { height: 537px; }

.sc-new img { border-radius: 10px; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-review { margin-top: 40px; padding-bottom: 50px; background-color: #fafafa; }

.sc-review .inner { position: relative; }

.sc-review .swiper { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 7px; }

.sc-review .swiper-wrapper { padding-top: 31px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.sc-review .swiper-wrapper .swiper-slide { min-width: 412px; height: 588px; -webkit-box-shadow: 2px 5px 5px 0 rgba(76, 74, 74, 0.07); box-shadow: 2px 5px 5px 0 rgba(76, 74, 74, 0.07); border: 0; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc-review .swiper-wrapper .swiper-slide img { height: 416px; min-width: 100%; -o-object-fit: cover; object-fit: cover; border-radius: 5px 5px 0 0; }

.sc-review .swiper-wrapper .swiper-slide .cont-box { position: absolute; left: 0; bottom: 2px; height: 168px; width: 416px; background: #fff; padding: 23px 30px 0 30px; overflow: hidden; -webkit-transition: .3s; transition: .3s; border-radius: 0 0 5px 5px; }

.sc-review .swiper-wrapper .swiper-slide .cont-box.active { height: 232px; }

.sc-review .swiper-wrapper .swiper-slide .cont-box .name { display: block; margin: 0 0 8px; font-weight: 600; color: #333; line-height: 1.2; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.sc-review .swiper-wrapper .swiper-slide .cont-box .desc { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; margin: 0 0 14px; color: #777; line-height: 20px; }

.sc-review .swiper-wrapper .swiper-slide .cont-box .review { display: inline-block; font-size: 14px; color: #777; padding: 5px 0; }

.sc-review .swiper-wrapper .swiper-slide .cont-box .review::before { content: ''; display: inline-block; background: url(../images/content/event-review.png); width: 16px; height: 16px; background-size: 100%; vertical-align: bottom; margin-right: 3px; }

.sc-benefit { padding-bottom: 180px; }

.sc-benefit .inner { position: relative; }

.sc-benefit .desc { font-size: 20px; color: #222; }

.sc-benefit .bft-list { margin-top: 43px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.sc-benefit .bft-list .bft-item { background: #f3f3f3; border-radius: 50%; min-width: 152px; height: 152px; text-align: center; }

.sc-benefit .bft-list .bft-item p { font-weight: 600; margin-top: 30px; color: #222; font-size: 18px; }

.sc-benefit .bft-list .bft-item span { display: block; padding-top: 10px; font-size: 14px; color: #777; }
